.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary);
  svg {
    fill: var(--primary);
  }
}

dialog {
  max-height: 95vh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 3 !important;

  &::-webkit-scrollbar {
    display: none;
  }

  form {
    background-color: inherit;
    box-shadow: none;
    padding: 10px;
    margin: 0;

    .formControl {
      label {
        margin-bottom: 10px;
      }

      &:has(input[type='checkbox']) {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        div {
          display: flex;
          align-items: baseline;
          gap: 5px;

          input {
            cursor: pointer;
          }

          label {
            margin: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.habits {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  padding-bottom: 20px !important;

  .addHabit {
    position: fixed;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 599px) {
  .habits {
    .addHabit {
      bottom: 80px;
      right: 0;
    }
  }
}

@media (min-width: 600px) and (max-width: 839px) {
  .habits {
    .addHabit {
      bottom: 20px;
      right: 20px;
    }
  }
}

@media (min-width: 840px) {
  .habits {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-content: start;

    .addHabit {
      bottom: 20px;
      right: 20px;
    }
  }
}
